<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forecast inventory</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<h2>Forecasting Engine Oil inventory</h2>
    <div class="container">
        <form action="{{ url_for('predict')}}" method="post">
            <div class="body_form">
                <h3>Forcast for days</h3>
                <input id="first" placeholder="Number of days" name="days" type="number ">
                <br><br>
                <h3>Forcast for a Date</h3>
                <input id="first" placeholder="date in YYYY-MM-DD" name="date" type="date ">
                
                <p></p><button id="sub" type="submit ">Forecast Quantity</button>
                <br>
                
    
            </div>
        </form>
        {% if pred %}
    	  <h2> Quantities of Engine oil forecasted </h2>
    	  {% for i in pred %}
    	     <b>{{i}}</b>
	       
	         <br>
          {% endfor %}
    	{% endif %}
        
    </div>
</body>

</html>
